<header>
  <div class="navbar navbar-dark bg-danger shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
      </i>
      <strong style="font-size:30px;">APNA BAJAR</strong>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"  placeholder="search products">
      </div>
      <span class="fas fa-search search-icon" style="color:red"></span>
    </div>
     <button routerLink="cart" class="btn btn-danger">
      <i style="font-size:30px" class="fas fa-cart-plus"></i>
      <div style="font-size:10px" class="badge bg-danger">{{totalProduct}}</div>
     </button>
  </div>
</header>
